body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #386088;
    padding-top: 20px;
}

.sidebar img {
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.sidebar h1, .sidebar p {
    color: #f4f4f4;
    text-align: center;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f4f4f4;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #535354;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100%-250%);
    background: url(./Images/Sunset.jpg) no-repeat center center;
    display:flex;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    min-height: 240vh;
    flex-direction: column;
    justify-content: flex-start;
    
}

.main-content section {
    padding:60px 20px;
    background: rgba(56, 96, 136, 0.9);       
    margin-bottom: -98%;
    margin-top: 100%;
    border-radius: 10px;
}

.main-content img {
border-radius: 100%;
width: 150px;
margin: 0 auto;
display: block;
}

.main-content h2 {
    font-size: 40px;
    color: #f4f4f4;
}

.main-content p {
    font-size: 18px;
    color: #f4f4f4;
}

.social-media-icons {
    text-align: center;
    margin-top: 20px;
    display: flex;

}

.social-media-icons a {
    margin: 15px;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 24px;
}

#home {
    display: none;
}

.about-me  {
    display: none;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #f4f4f4;
    
}


